<div class="container-fluid">
  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </a>
  <a class="brand" href="/home">XNet</a>
  <div class="nav-collapse">
    <ul class="nav">
      <li class="active"></li>
    </ul>
    <p class="navbar-text pull-right">
    {% if user.is_authenticated %}
		欢迎，{{ user.username }}，<a href="/logout/?next=/home/">退出</a>
	{% else %}
		您好，请<a href="/login/?next=/home/">登录</a>
	{% endif %}
    </p>
  </div>
</div>